@font-face {
    font-family: Anton;
    src: url(./Anton-Regular.ttf);
}

.rank{
    width: calc(100% - 50%);
    margin: auto;
    padding: .15em .15em;

    &_data{
        text-align: center;
        // font-size: 2em;
        padding: 0;
        margin: 0;

        &_text{
            font-size: 1em;
        }

        &_number{
            font-weight: bolder;
        }

        &_info{
            padding: .5em 0em;
            margin: 0;
            font-size: 2em;
            font-weight: 200;
            font-family: Anton;
        }
    }
    
}