.nav_bar{

    display: flex;
    justify-content: flex-end;
    margin: 0em 2em;
    gap: 1em;

    .nav_options{
        font-size: 1em;
        padding: .5em 0em;
        font-weight: bold;
        transition: 350ms ease-in-out;

        &:hover{
            cursor: pointer;
            color: rgb(204, 0, 0);
            transition: 350ms ease-in-out;
        }
    }
}
